 <head>
    
    <style type="text/css">
        .auto-style1 {
            width: 129px;
            height: 122px;
        }

        .logo {
            height: 143px;
            width: 243px;
            padding-left: 100px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome, demo_user<img alt="logo" class="logo" src="../../Content/Images/moneymoney.png" /></h1>
</div>
<div id="chart_div" style="width:800px; height:400px;">
    <h2>Mini Summary</h2>
   <table style="border: 1px solid black; border-collapse:collapse;">
       <tr>
           <td width="100" style="border: 1px solid black;">
               <h5>
                   Activity
               </h5>
           </td>
           <td width ="80" style="border: 1px solid black;">
               <h5>
                   Count
               </h5>
           </td>
           <td width="80" style="border: 1px solid black;">
               <h5>
                   Total
               </h5>
           </td>
       </tr>
       
       <tr style="border: 1px solid black;">
           <td style="border: 1px solid black;">
               Expenses
           </td>
           <td style="border: 1px solid black;">
               @ViewData["expense_count"]
           </td>
           <td style="border: 1px solid black;">
               @ViewData["expense_total"]
           </td>

       </tr>
       <tr>
           <td style="border: 1px solid black;">
               Withdrawals
           </td>
           <td style="border: 1px solid black;">
               @ViewData["withdraw_count"]
           </td>
           <td style="border: 1px solid black;">
               @ViewData["withdraw_total"]
           </td>
       </tr>
       <tr style="border: 1px solid black;">
           <td style="border: 1px solid black;">
               Deposits
           </td>
           <td style="border: 1px solid black;">
               @ViewData["deposit_count"]
           </td>
           <td style="border: 1px solid black;">
               @ViewData["deposit_total"]
           </td>
       </tr>
   </table>
    <h2>Your current savings stand at @ViewData["saving_total"]</h2>
</div>

@*<div class="wrapper">
    <form class="login">
        <input type="text" placeholder="Username" autofocus />
        <i class="fa fa-user"></i>
        <input type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <a href="http://localhost:50084/Home/About">Forgot your password?</a>
        <input id="btnLogin" type="button" value="LOGIN" onclick="window.location.href = ('http://localhost:50084/Home/About')">

        <button id="btnLogin">
            <span class="state">LOGIN</span> </button>
    </form>
</div>*@



<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="js/index.js"></script>