@model IEnumerable<KnowYourMoney.Models.tblWithdraw>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>demo_user Withrawals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WithdrawAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblAccountInfo.UserLogIn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WithdrawAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblAccountInfo.UserLogIn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WithdrawID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WithdrawID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WithdrawID })
        </td>
    </tr>
}

</table>
<table class="table">
    <tr>
        <th>
            Total Deposits
        </th>
        <th style="padding-right:90px;">
            @ViewData["withdraw_total"]
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>